*{
    box-sizing: border-box;
}
body{
    background-color: rgb(53, 5, 5);
}

header{
    background-color: rgb(89, 0, 144);
    width: 100%;
    background-color: rgb(98, 15, 15);
}
.contenedorpadre{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.title{
    width: 150px;
    margin:0%;
    padding:0%;
    justify-self: center;
}
h1{
   /*de esto se encarga nacho. hay que lograr que el titulo quede centrado dentro de su caja*/
}
.menuprincipal{
    background-color: rgb(53, 5, 5);
    height: fit-content;
    width: 60%;
}

.home{
    padding: 10px;
}
.genres{
    padding: 10px;
}
.favorites{
    padding: 10px;
}
main{
    background-color: rgb(98, 15, 15);
}

ul{
    display: flex;
    justify-content: space-around;

}
img{
    height: 230px;
}
li{
    margin: 0px 5px ;
}

h2{
    margin-left: 25px ;
}

footer{
    background-color:rgb(98, 15, 15);
    display: flex;
    justify-content: center;
}
