*{
    box-sizing: border-box;
}
body{
    background-color: rgb(33, 15, 41);
}
header{
    display: flex;
    background-color: rgb(89, 0, 144);
}
.menuprincipal{
    background-color: rgb(118, 78, 143);
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    
}
main{
    background-color: rgb(89, 0, 144);
}

ul{
    display: flex;
    justify-content: space-around;

}
img{
    height: 230px;
}
li{
    margin: 0px 5px ;
}

h2{
    margin-left: 25px ;
}

footer{
    background-color: rgb(89, 0, 144);
    display: flex;
    justify-content: center;
}
